---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import ugra from "../assets/speaking/ugra.jpg";
import vba from "../assets/speaking/vba.jpeg";
import owaspClose from "../assets/speaking/owasp-close.jpeg";
import owaspWide from "../assets/speaking/owasp-wide.jpeg";
import eqbank from "../assets/speaking/eq.jpg";
import { Icon } from "astro-icon/components";

import Card from "../components/Card.astro";
---

<Layout title="Hassan Anees">
  <header>
    <nav>
      <h6 class="font-bold">Hassan Anees</h6>
    </nav>
  </header>
  <div>
    <h1 class="text-4xl font-bold">Hey, <span>I'm Hassan 👋</span></h1>
  </div>
  <div>
    <p>
      I work as a
      <span class="font-semibold">cybersecurity practitioner</span> who happens to
      enjoy writing, programming, and speaking.
    </p>
  </div>
  <!-- About -->
  <div class="">
    <h1 class="text-xl font-bold">About me</h1>
    <p>
      I began as a research assistant, working on aspects of human cognition
      like emotion, memory, and creativity. Later I shifted my attention to
      software engineering, building solutions for startup, medical, and
      financial industries. I now am in the cybersecurity field where I continue
      to leverage SWE practices and principles in psychology.
    </p>
  </div>
  <!-- Speaking section -->
  <div class="">
    <h1 class="text-xl font-bold">Speaking</h1>
    <p>
      I have had the privilege to speak professionally at numerous venues. I
      speak on topics that interest me. At prior conferences and meetups I have
      spoken on areas from psychology to social engineering.
    </p>

    <div class="columns-2 max-w-2xl my-10 sm:columns-3">
      <div class="mb-2 h-full">
        <Image
          src={ugra}
          alt="Me presenting a security awareness talk at the vba"
          sizes="(max-width: 768px) 213px, 33vw"
          class="rounded-lg object-cover"
        />
      </div>
      <div class="mb-2">
        <Image
          src={eqbank}
          sizes="(max-width: 768px) 213px, 33vw"
          alt="Me presenting a insider threat for EQ at UoG"
          class="rounded-lg object-cover h-22"
        />
      </div>
      <div class="mb-2">
        <Image
          src={vba}
          sizes="(max-width: 768px) 213px, 33vw"
          alt="Me presenting at the VBA for a security awareness talk to the community"
          class="rounded-lg object-cover"
        />
      </div>
      <div class="mb-2">
        <Image
          src={owaspClose}
          sizes="(max-width: 768px) 213px, 33vw"
          alt="Me presenting at Okta for OWASP - close shot"
          class="rounded-lg object-cover"
        />
      </div>
      <div class="">
        <Image
          src={owaspWide}
          sizes="(max-width: 768px) 213px, 33vw"
          alt="Me presenting at Okta for OWASP - wide shot"
          class="rounded-lg object-cover"
        />
      </div>
    </div>

    <!-- Speaking descriptions -->
    <div class="border-b-4 border-indigo-400 my-4">
      <h2 class="text-xl font-semibold">The Psychology of Phishing 🎣</h2>
      <h3 class="font-semibold text-gray-500">OWASP Toronto x Okta 2024</h3>
      <p class="my-2">
        I discuss how you can spot phishing attacks using psychological
        principles and emerging research to combat phishing.
      </p>
    </div>

    <div class="border-b-4 border-indigo-400 my-4">
      <h2 class="text-xl font-semibold">Preventing Insider Risk 🤫</h2>
      <h3 class="font-semibold text-gray-500">
        University of Guelph x EQ Bank 2023
      </h3>
      <p class="my-2">
        I talk current security practices, tools, and mitigation strategies to
        reduce insider risk within organizations.
      </p>
    </div>

    <div class="my-4">
      <h2 class="text-xl font-semibold">Security Awareness 101 🛡️</h2>
      <h3 class="font-semibold text-gray-500">
        The Village by the Arboretum 2024
      </h3>
      <h3 class="font-semibold text-gray-500">Annual UGRA Meetup 2023</h3>
      <h3 class="font-semibold text-gray-500">Guelph Public Library 2022</h3>
      <p class="my-2">
        General security awareness such as data privacy, password security, MFA,
        and phishing.
      </p>
    </div>
    <!-- Call to action -->
    <div
      class="bg-gray-800 max-w-xs text-white flex flex-col p-5 rounded-xl gap-3 content-center"
    >
      <p class="font-semibold text-center">
        Interested to have me speak a your organization?
      </p>
      <button
        type="button"
        class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        >Let's Talk!</button
      >
    </div>

    <!-- Open Source -->
    <div class="bg-zinc-50">
      <h2 class="text-2xl font-bold">Open source</h2>
      <div
        class="bg-white p-10 mx-4 my-10 transition ease-in-out delay-75 hover:shadow-xl"
      >
        <div class="flex items-center justify-between">
          <h6 class="font-semibold text-lg">AWS E2E Deployment Tool</h6>
          <a href=""
            ><Icon
              size={50}
              class={"hover:text-red-500"}
              name="mdi:github"
            /></a
          >
        </div>
        <p class="my-4">
          Creates a end-to-end encrypted template for developers to deploy a
          NoSQL database deployed on AWS. A python based library is used as the
          client, AWS Key Management System is used to manage keys.
        </p>
        <div class="flex gap-1 items-center">
          <p><span class="font-semibold">Technologies:</span></p>
          <button disabled class="text-white bg-gray-800 px-2 py-1 rounded-sm"
            >AWS</button
          >
          <button disabled class="text-white bg-gray-800 px-2 py-1 rounded-sm"
            >Python</button
          >
        </div>
      </div>

      <footer>Hello this is a footer</footer>
    </div>
  </div>
</Layout>
