---
import { Image } from "astro:assets";
import burgerMenu from "../assets/speaking/burger.svg";

const navLinks = [
  { name: "contact", link: "#contact" },
  { name: "about", link: "/about" },
  { name: "work", link: "/work" },
  { name: "open source", link: "/#opensource" },
  { name: "speaking", link: "/#speaking" },
];
---

<header>
  <nav
    class="fixed z-10 w-full p-4 bg-opacity-50 border-b-2 border-gray-100 bg-zinc-50 backdrop-filter backdrop-blur-lg"
  >
    <div class="flex justify-between max-w-screen-lg lg:mx-auto">
      <a class="hover:text-blue-600" href="/"><h6 class="font-bold">Hassan Anees</h6></a>
      <div class="flex flex-row-reverse justify-end gap-8 text-gray-500">
        {
          navLinks.map((nav) => {
            return (
              <a class="hidden font-semibold sm:block hover:text-gray-950" href={nav.link}>
                {nav.name}
              </a>
            );
          })
        }
        <div class="">
          <div class="flex flex-col items-end" id="menuButton">
            <Image
              class="cursor-pointer hover:shadow-2xl sm:hidden"
              src={burgerMenu}
              alt="Me presenting a security awareness talk at the vba"
            />
            <div id="menuList" class="flex flex-col-reverse items-end hidden mt-2">
              {
                navLinks.map((nav) => {
                  return (
                    <a class="block font-semibold sm:hidden hover:text-gray-950" href={nav.link}>
                      {nav.name}
                    </a>
                  );
                })
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
