---
import type { CollectionEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Prose from "../components/Prose.astro";
import banner from "../assets/speaking/herotest.jpeg";
import Image from "astro/components/Image.astro";
import { Icon } from "astro-icon/components";
import { SEO } from "astro-seo";
type Props = CollectionEntry<"posts">["data"];

const { title, author, description, pubDate, image } = Astro.props;
// console.log(image);
// console.log(Astro.props);
const canonical = Astro.url.href;
// const result = new URL(Astro.url.pathname, Astro.site).href;
console.log(canonical);

const tags = ["Psychology", "Science"];
---

<Layout title={title} description={description} canonical={canonical} image={image}>
  <div id="" class="pt-16 font-semibold text-black">
    <div class="max-w-3xl p-6 md:mx-auto">
      <div class="">
        <!-- <img width={1020} height={510} src={image} alt="" /> -->

        <h1 class="text-3xl text-zinc-800 font-extrabold sm:text-[40px]">{title}</h1>
        <!-- <p class="font-light text-gray-500 italics"><em>{frontmatter.description}</em></p> -->
        <div class="flex gap-3 py-4">
          <p class="text-zinc-500">
            {
              pubDate.toLocaleDateString("en-US", {
                timeZone: "UTC",
                month: "long",
                day: "2-digit",
                year: "numeric",
              })
            }
          </p>
          <p class="text-zinc-500">|</p>
          <p class="text-zinc-500">{author}</p>
        </div>
        <div class="border-2 border-t-cyan-600 max-w-44"></div>

        <!-- <div class="flex gap-3 pt-2 font-lg">
          <a href="https://twitter.com/intent/tweet?url={url}&text={description}&via={username}"
            ><Icon name="devicon:linkedin" size={30} class="" /></a
          >
          <Icon name="devicon:twitter" size={30} class="" />
          <Icon name="logos:reddit-icon" size={30} class="" />

          <a
            href="https://www.linkedin.com/shareArticle?url=<URL>&title=<TITLE>&summary=<SUMMARY>&source=<SOURCE_URL>"
          >
            LinkedIn
          </a>
        </div> -->
        <!-- <div class="flex flex-wrap items-center gap-1 my-4">
          <p><span class="italic">Tags: </span></p>
          {
            tags.map((tag) => {
              return (
                <button disabled class="px-2 py-1 text-white bg-gray-800 rounded-sm">
                  {tag}
                </button>
              );
            })
          }
        </div> -->
        <!-- <div class="bg-auto">
          <Image src={banner} alt={title} class="m-auto aspect-video" />
        </div> -->
      </div>
    </div>
  </div>
  <div class="max-w-3xl px-6 pb-12 md:mx-auto">
    <Prose>
      <slot />
    </Prose>
  </div>
</Layout>
