---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/urbanist";

const { title, description, image, canonical, author, ...props } = Astro.props;
---

<!doctype html>
<html class="scroll-smooth scroll-p-16" lang="en">
  <head>
    <meta charset="UTF-8" />
    <Head
      title={title}
      description={description}
      canonical={canonical}
      image={image}
      author={author}
    />
    <script
      defer
      src="https://analytics.us.umami.is/script.js"
      data-website-id="8c09bc2b-6153-4ea3-a006-00201633b7f5"></script>
  </head>
  <body class="font-sans">
    <!-- this makes it so that the footer sticks to the bottom -->
    <div class="flex flex-col justify-between h-screen">
      <Header />
      <main class="pt-16">
        <slot />
      </main>
      <Footer />
    </div>

    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
